# /
.vscode
~$note.pptx
# src/
src/serve_result.sh
src/signateJR2020-d11d5341dabe.json

# src/input
src/input/*
!src/input/_decode.py
!src/input/_setup.sh

# src/my_features
src/features/train/*
src/features/test/*
# src/experiments/*

# anywhere
**/__pycache__
**/.ipynb_checkpoints
**/*.csv
!**/.gitkeep
**/*.ipynb